* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


html {
    height: 100%;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(8px, 2vw, 32px);
}

.page {
    background-color: hsl(213, 19%, 18%);

    
    padding: 3rem;
    border-radius: 1.5rem;
    width: min(100%, 420px);
}

/******************************* RATING STATE STARTS ******************************/
.ratingState {
    margin: 0 0rem;
    display: none; /*REMOVE THIS WHEN DONE!*/
}

.star {
    border-radius: 50%;
    background-color: hsl(216, 17%, 29%);

    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingState h2 {
    color: hsl(0, 100%, 100%);
    font-weight: 400;

    margin: 1.5rem 0 1rem 0;
}

.ratingState p {
    color: hsl(217, 12%, 63%);
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    border: 1px solid hsl(216, 12%, 8%);
    background-color: hsl(222, 20%, 17%);
    color: hsl(217, 12%, 63%);
    
    margin-top: 1rem;
}

.rating.selected {
    background-color: white;
    color: black;
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
}

.submitButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 2rem 0;
}

.submitButton {
    background-color: hsl(25, 97%, 53%);
    border: 1px solid hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    
    width: 20rem;
    height: 2.5rem;

    border-radius: 100px;
    margin-top: 1rem;
}

.submitButton:hover {
    background-color: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);
}

/********************************* THANK YOU STATE STARTS **************************************/

.thankYouState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thankYouImgWrapper {
    max-width: 10rem;
}

.thankYouImg {
    max-width: 100%;
    height: auto;
}

.selectedRatingWrapper {
    background-color: hsl(222, 20%, 17%);
    border: 1px solid hsl(216, 12%, 8%);
    border-radius: 100px;

    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectedRatingThanks {
    color:hsl(25, 97%, 53%);
    
}

.thankYouWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thankYouState h2 {
    color: white;

    margin: 2rem 0 1rem 0;
}

.thankYouState p {
    color: hsl(217, 12%, 63%);
}

/************************* DESKTOP SECTION ************************/

@media screen and (min-width: 992px) {

}